In [2]:
#1

s=list(input())
x=s[0]
for i in range(1,len(s)):
    if s[i]==x:
        s[i]='$'
print(*s,sep="")

porspective
pors$ective

In [3]:
#2

n,k=input().split()
n=list(n)
k=list(k)
n[0],k[0]=k[0],n[0]
n[1],k[1]=k[1],n[1]
print(*n," ",*k,sep="")

abc xyz
xyc abz

In [4]:
#3

n=list(input())
x=['i','n','g']
if(len(n)<3):
    print(n)
    #break
elif(n[len(n)-3:]==x):
    print(*n,"ly",sep="")
else:
    print(*n,"ing",sep="")

abc
abcing

In [5]:
#3

n=list(input())
x=['i','n','g']
if(len(n)<3):
    print(n)
    #break
elif(n[len(n)-3:]==x):
    print(*n,"ly",sep="")
else:
    print(*n,"ing",sep="")

abcing
abcingly

In [7]:
#4

s=list(input().split())
l=[]
if(s.count("not")>0 and s.count("poor")>0):
    x=s.index("not")
    y=s.index("poor")
    #print(x," ",y)
    for i in range(0,x):
        l.append(s[i])
    l.append("good")
    for i in range(y+1,len(s)):
        l.append(s[i])
    print(*l,sep=" ")
else:
    print(*s,sep=" ")

the lyrics are not that poor
the lyrics are good

In [8]:
#5

s=input()
s=s[::2]
print(s)

sudeep
sde

In [9]:
#6

def funn(s):
    s=s*4
    print(s)
s=input()
if(len(s)>=2):
    x=s[-2]+s[-1]
    funn(x)
else:
    print("Enter string atleast lenght of 2")

ab
abababab

In [10]:
#7

def f1(s):
    x=s[0]+s[1]+s[2]
    print(x)
s=input()
if(len(s)>=3):
    f1(s)
else:
    print(s)

ipython
ipy

In [11]:
#8

x=1.2356
print("upto 2 decimal {:.2f}".format(x))

upto 2 decimal 1.24

In [12]:
#9

x=0.78
print("percentage is {:.2%}".format(x))

percentage is 78.00%

In [15]:
#10

s=list(input().split())
x=input("enter substring")
print(s.count(x))

sudeep kumar sudeep
enter substringsudeep
2

In [16]:
#11

s=list(input())
d={}
l=[]
for i in s:
    if(s.count(i)>1):
        d[i]=s.count(i)
d=[d]
for j in range(len(d)):
    if d[j] not in l:
        l.append(d[j])
l

eetruedr

[{'e': 3, 'r': 2}]

In [17]:
#12

x=1256.66
y=1254.725
print("the area of rectangle is {}cm\u00b2".format(x,d))
print("the volume of rectangle is {}cm\u00b3".format(y,d))

the area of rectangle is 1256.66cm²
the volume of rectangle is 1254.725cm³

In [24]:
#13

s=list(input())
k=[chr(i) for i in range(97,123)]
#print(k)
x=0
for i in k:
    if i not in s:
        print("does not contains all letters")
        x=1
        break
if(x==0):
    print("contains all letters")

dslgirigjrjgmdsv
does not contains all letters

In [ ]:
#14


s=list(input().split())
d={}
k=[]
for i in s:
    d[i]=s.count(i)
print(d)
for i in sorted(d.items(), key=lambda item: item[1],reverse=True):
    k.append(i)
l=dict(k)

In [1]:
#15 & 16
s=list(input())
k=list(input())
l=[]
for i in k:
    l.append(s.index(i))
print(*s[min(l):max(l)+1],sep="")

prwoeriusfk
osu
oerius

In [2]:
#18

s=len(input())
print(int((s*(s+1))/2))

w3resource
55

In [ ]:
#19
def fun(x):
    f=1
    while(x>0):
        f=f*x
        x=x-1
    print(f)
s=int(len(input()))

fun(s-2)

In [4]:
l=list(input().split())
c=0
for i in l:
    if(i[0]==i[len(i)-1] and len(i)>=2):
        c=c+1
print(c)

abc xyz wxw 131
2

In [5]:
#21

def ge(l):
    return l[1]
l=[(2,5),(1,2),(4,4),(2,3),(2,1)]
sorted(l,key=ge)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [1]:
#22

l=list(input().split())
u=[]
for i in l:
    if i not in u:
        u.append(i)
u

1 2 3 2 3 4

['1', '2', '3', '4']

In [2]:
#23

n=int(input())
l=list(input().split())
for i in l:
    if(len(i)>n):
        print(i)

3
we rete ed ewru
rete
ewru

In [2]:
#24


n=list(input().split())
u=[]
for i in range(0,len(n)):
    if i not in [0,4,5]:
        u.append(n[i])
u

red blue green pink tellow hello bye see you

['blue', 'green', 'pink', 'bye', 'see', 'you']

In [5]:
#25

from itertools import permutations as p
l=[1,2,3]
list(p(l))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [8]:
#26

k=[]
n= [ (1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10) ] 
for i in n:
    [k.append(i) for i in list(i)]
list(set(k))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#29

op=['(','{','[']
cl=[')','}',']']
def verify(s):
    l=[]
    for i in s:
        if i in op:
            l.append(i)
        elif i in cl:
            x=cl.index(i)
            if(len(l)>0 and op[x]==l[len(l)-1]):
                l.pop()
            else:
                print("not balanced")
                break
        if len(l)==0:
            print("balanced")
                
s=input()
verify(s)

[}
not balanced

In [22]:
#30

l=[1,2,3]
u=[[]]
for i in range(0,len(l)+1):
    for j in range(i+1,len(l)+1):
        x=l[i:j]
        u.append(x)

u

[[], [1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

In [12]:
#31

s=input().split(",")
n=[]
for i in s:
    n.append(int(i))
#print(n)
sum=int(input())
for i in range(len(n)-2):
    for j in range(i+1,len(n)):
        if((n[i]+n[j])==sum):
            print(i,j)

10,20,10,40,50,60,70
50
0 3
2 3

In [3]:
#32

#31

s=input().split(",")
n=[]
for i in s:
    n.append(int(i))
#print(n)
#sum=int(input())

for i in range(len(n)-2):
    l=i+1
    r=len(n)-1
    while(l<r):
        if((n[i]+n[l]+n[r])==0):
            print([n[i],n[l],n[r]])
            l=l+1
            r=r-1
        elif((n[i]+n[l]+n[r])<0):
            l=l+1
        else:
            r=r-1

-25, -10, -7, -3, 2, 4, 8, 10
[-10, 2, 8]
[-7, -3, 10]

In [4]:
#33

def pow(x,n):
    s=1
    while(n>0):
        s=s*x
        n=n-1
    print(s)
pow(2,3)

8

In [6]:
#34

def get_String():
    s=input()
    return s
def print_String(s):
    print(s)
x=get_String()
print_String(x)

sudeep
sudeep

In [12]:
class Rectangle:
    def __init__(self,l,b):
        self.l=l
        self.b=b
    def area(self):
        return self.l*self.b
p=Rectangle(5,5)
p.area()

25

In [1]:

class cirlce:
    def __init__(self,r):
        self.r=r
    def area(self):
        
        return

SyntaxError: unexpected EOF while parsing (<ipython-input-1-3c8e52cdc03b>, line 2)

In [2]:
#40

l=[1,2,3,4]
k=[2,3]
if l==k:
    print("Equal")
else:
    print("not equal")

not equal

In [7]:
#44

l=[('a',1),('b',3),('c',2)]
d={}
for i in l:
    #[d[j[0]]=d[j[1]] for j in  list(i)]
    [x for j in  list(i)]
    print(x)
#d

0
0
0

In [9]:
#47


n=int(input())
sum=0
while(n>0):
    sum=sum+1/n
    n=n-1
print(sum)

2
1.5

In [10]:
#101


import pandas as pd
s1=pd.Series([1,2,3,4])
s2=pd.Series([1,3,5,2])
s=s1+s2
s

0    2
1    5
2    8
3    6
dtype: int64

In [13]:
#102


d={'a':2,'b':3,'c':'4'}
x=pd.Series(d)
x

a    2
b    3
c    4
dtype: object

In [18]:
#103





d={'a':2,'b':"sdudep",'c':'4'}
x=pd.Series(d)
s=pd.to_numeric(x,errors="coerce")
s

a    2.0
b    NaN
c    4.0
dtype: float64

In [28]:
#105


l=[1,2,3,4,5,6,7,8,9,5,3]
x=pd.Series(l).mean()
print("Mean is ",x)

y=pd.Series(l).std()

print("Standard Deviation:",y)

Mean is  4.818181818181818
Standard Deviation: 2.522624895547565

In [40]:
#107


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify':[ 'yes', 'no', 'yes' ,'no','no','yes','yes','no','no','yes' ] }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ] 
df=pd.DataFrame(exam_data,index=labels)
df.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [49]:
#108


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify':[ 'yes', 'no', 'yes' ,'no','no','yes','yes','no','no','yes' ] }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ] 
df=pd.DataFrame(exam_data,index=labels)
df.iloc[[1,3,5,6]][["name","score"]]

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [52]:
#109


df["score"].mean()

13.5625

In [62]:
#110

fd=df
fd.rename(columns={'name':"NAME","score":"SCORE"},inplace=True)
fd

        NAME  SCORE  attempts qualify  NewScore
a  Anastasia   12.5         1     yes      12.5
b       Dima    9.0         3      no       9.0
c  Katherine   16.5         2     yes      16.5
d      James    NaN         3      no       NaN
e      Emily    9.0         2      no       9.0
f    Michael   20.0         3     yes      20.0
g    Matthew   14.5         1     yes      14.5
h      Laura    NaN         1      no       NaN
i      Kevin    8.0         2      no       8.0
j      Jonas   19.0         1     yes      19.0

In [63]:
#111
#I'm using above data set instead of counting number of persons in a country 
#I Tried to print number of yes and no 
xc=fd
df.groupby(["qualify"]).size()

qualify
no     5
yes    5
dtype: int64

In [64]:
xc.set_option('max_colwidth',800)

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [68]:
#113


ui={"date":[ "3/11/2000" , "3/12/2000" ," 3/13/2000"]}
i=pd.DataFrame(ui)
pd.to_datetime(i['date'])

0   2000-03-11
1   2000-03-12
2   2000-03-13
Name: date, dtype: datetime64[ns]

In [70]:
#114

uii=pd.DataFrame()
uii=uii.append(fd)
uii

        NAME  SCORE  attempts qualify  NewScore
a  Anastasia   12.5         1     yes      12.5
b       Dima    9.0         3      no       9.0
c  Katherine   16.5         2     yes      16.5
d      James    NaN         3      no       NaN
e      Emily    9.0         2      no       9.0
f    Michael   20.0         3     yes      20.0
g    Matthew   14.5         1     yes      14.5
h      Laura    NaN         1      no       NaN
i      Kevin    8.0         2      no       8.0
j      Jonas   19.0         1     yes      19.0

In [75]:
#115


len(uii.columns)

5

In [83]:
#116

uii[:len(uii.index)-3]

        NAME  SCORE  attempts qualify  NewScore
a  Anastasia   12.5         1     yes      12.5
b       Dima    9.0         3      no       9.0
c  Katherine   16.5         2     yes      16.5
d      James    NaN         3      no       NaN
e      Emily    9.0         2      no       9.0
f    Michael   20.0         3     yes      20.0
g    Matthew   14.5         1     yes      14.5